.container {
    background: #262626;
    width: 95%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* Chat */
.chat {
    color: white;
    display: flex;
    font-size: larger;
    font-weight: 700;
    letter-spacing: 1px;
    background: #363636;
    width: 30%;
    height: 2.5rem;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
/* Stories */
.stories {
    color: #ffffff36;
    display: flex;
    font-size: larger;
    font-weight: 700;
    letter-spacing: 1px;
    width: 20%;
    height: 2.5rem;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}