/* Wrapper / Container */
.wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}
.container {

}
/* HEADER */
.header {
    background: #181818;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -1rem;
}

/* Avatar */
.avatar {
    

}
.avatar_size {
    cursor: pointer;
}


/* SEARCHBAR  */
.searchbar {
    padding-top: 3rem;
}
/* Chat list */
.chatusers {

}