/* Wrapper / Container */
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container {

}
/* HEADER */
.header {
    padding-bottom: 2rem;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 28%, rgba(28,43,39,1) 51%, rgba(28,43,39,1) 94%); 
}

/* Avatar */
.avatar {
    

}
.avatar_size {
    cursor: pointer;
}

.avatar_size > .MuiAvatar-root.MuiAvatar-circular.css-1wlk0hk-MuiAvatar-root{
    width: 85px;
    height: 85px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}

/* SEARCHBAR  */
.searchbar {
    padding-top: 3rem;
}