/* Wrapper / Container */
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
}
.container {
    padding: 0.5rem;
    width: 100%;
}
/* Avatar */
.avatar {
    

}
.avatar_user {
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 90px;
    z-index: 41;
}


/* SEARCHBAR  */
.searchbar {
    
}
/* Status Online / Offline */
.status{
    margin-left: 2.8rem;
    z-index: 999;
    position: absolute;
    margin-top: -1rem;
}
/* Unread */
.unread {
    z-index: 0;
    width: 71px;
    background: #da33330e;
    height: 71px;
    border: 3px groove #ab151583;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: ui-serif;
    font-size: inherit;
    margin-top: -3.5rem;
    margin-left: 0rem;
    font-weight: bold;
    border-radius: 60px;
    text-transform: uppercase;
}