/* Wrapper / Container */
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
}
.container {
    margin: 0.4rem;
    width: 100%;
}
/* Avatar */
.avatar {
    

}
.avatar_user {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 90px;
}


/* SEARCHBAR  */
.searchbar {
    
}