svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.private-chat_send_btn_icon__2egf9.css-i4bv87-MuiSvgIcon-root {
    font-size: 2rem;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.private-chat_send_photo_icon__3bTa6.css-i4bv87-MuiSvgIcon-root {
    font-size: 2rem;
}
.friend  {
    color: blue;
}
