.background {
    background: #FFFFFF;
    border-radius: 33px;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
}
.mainimage {
    border-radius: 50px;
    width: 100%;
}
.secondoneimage {
    border-radius: 30px;
    display: flex;
    width: 100%;
    height: 80%;
}
.imagesecondarycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.image {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
/* Photos title and amount of pics*/
.title {
    margin-left: 2rem;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 5px;
}
.amount{
    font-weight: 400;
    font-size: 1.6rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}