.background {
    background: #fffffffa;
    border-radius: 33px;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: hidden;
    box-shadow: 0px -3px 121px -8px rgba(77,77,77,0.49);
    -webkit-box-shadow: 0px -12px 50px -15px rgb(142 139 139 / 49%);
    -moz-box-shadow: 0px -3px 121px -8px rgba(77,77,77,0.49);
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top:1rem;
}

.title {
    margin-left: 2rem;
    font-weight: 700;
    font-size: 1.8rem;
    font-family: serif;
    color: black;
}

/* UNLOCK */
/* Description */
.description {
    font-weight: 300;
    font-size: 1.3rem;
    font-family: serif;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.content_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moreinfo {
    text-align: center;
}
.button_payment {
    background: linear-gradient(267.25deg, #474747 1.2%, #2e2e2e 49.72%, #2c2c2c 115.25%);
    width: 100%;
    height: 2.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 30px;
    color: white;
    margin-bottom:1rem;
}
/* MODAL */
.modal {
    align-items: center;
    align-content: center;
    /* background: #ffffff; */
    border-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-width: 1px;
    border-top-color: black;
    border-left-width: 1px;
    border-left-color: black;
    border-right-width: 1px;
    border-right-color: black;
    display: flex;
    position: fixed;
    justify-content: center;
    /* position: absolute; */
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow:hidden;
    backdrop-filter: blur(77px);
    -webkit-backdrop-filter: blur(77px);
    z-index: 999;
}
.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 100%;
}
/* HEADER*/
.modal_header {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.modal_header_title {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: system-ui;
    height: 100%;
    width: 100%;
}
.modal_header_text {
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-variant: all-small-caps;
    font-size: large;
    word-break: break-word;
    color: white;
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    color: black;
    height: 100%;
    grid-gap: 20px;
    gap: 20px;
}
.modal_header_description {
    display: flex;
    align-items: center;
    font-size: x-small;
    justify-content: center;
    font-family: serif;
    color: rgba(0, 0, 0, 0.74);
    font-style: italic;
}
.header_imagediv {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}
.header_imagediv > img {
    object-fit: cover;
    border-width: 2px;
    border-color: white;
}

/* BODY */
.modal_body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
    background: #181818fa;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    font-family: ui-serif;
}
.modal_body_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.benefits {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list_child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    width: 90%;
    word-break: break-all;
    font-size: 18px;
    margin-bottom: .5rem;
}
/* FOOTER */
.payment_options {
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.payment_button {
    width: 90%;
    background: #181818;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 3rem;
    color: white;
    border-radius: 30px;
    margin-bottom: 1rem;
}
.payment_button:hover {
    width: 90%;
    background: #1b422d;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 3rem;
    color: white;
    border-radius: 30px;
}

.cancel_button {
    width: 90%;
    background: #9a3737;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 3rem;
    color: white;
    border-radius: 30px;
    margin-bottom: 1rem;
}
.cancel_button:hover {
    width: 90%;
    background: #cf1313;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 3rem;
    color: white;
    border-radius: 30px;
    margin-bottom: 1rem;
}
/* ERROR */
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: red;
    font-size: smaller;
    margin-bottom: .7rem;
    margin-top: 0.7rem;
    font-weight: 500;
}