.background {
    background: #ffffff;
    border-radius: 33px;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
}
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
/* Profile fullname */
.fullname {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    color: #000000;
}
/* About quote*/
.abouttitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #6A757A;
    width: 70%;
    justify-content: center;
}
/* Personal information */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* First Row */
.firstrow {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: space-between;
}
.iconandinfo {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.profileinfo{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    align-items: center;
    width: 50%;
    justify-content: center;
}
/* Second Row */
.secondrow {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: space-evenly;
}
/* Third Row */
.thirdrow {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: space-evenly;
}
/* Third Row */
.fourrow {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: space-evenly;
}

.container_main_edit_profile {
    width: 80%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}