.actions__card_star {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
}

 .post__index_header {
    width: 100%;
    width: 100%;
    border: 1px ridge #4848481a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }


/*STAR SIZE */
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.star_size.text-white-primary.css-i4bv87-MuiSvgIcon-root {
    width: 37px;
    height: 37px;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.star_size.text-red-like.css-i4bv87-MuiSvgIcon-root{
    height: 37px;
    width: 37px;
}

/* Username */

.header__name_username {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header__name_username > p {
    text-transform: capitalize;
}

.header__actions_icons {
    display: flex;
    margin-top: 2.5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
}

/* P tag likes  */
.py-0 > p {
    font-weight: 400;
}

.py-0 > p > svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    width: 15px;
    height: 15px;
    margin-bottom: 10px;
}