.post__index {
    margin-top:2rem;
}

.post_container_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-color: #212121;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width:3px ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* .rounded.col-span-4.border.bg-black-background.border-gray-primary.mb-16 {
    margin-top: 34px;
} */

