svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.location_icon_card.css-i4bv87-MuiSvgIcon-root {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}