.container {
    margin-top: 10px;
}
.border {
    background: #FE8200;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 70%; */
    width: 4.5rem;
    font-weight: 900;
    border-radius: 999px;
    border-bottom-width: 2px;
    border-bottom-color: white;
}
.text {
    font-family: 'Red Hat Text';
    font-size: small;
    color:white;
}