
header.h-16.border-b.mb-5 {
    position: sticky;
    top: 0;
    background: #181818;
    z-index: 999;
}


@media (max-width: 700px) {
    .text-center.text-white-primary.flex.items-center.align-items {
        width: 3rem;
        /* margin-right: 11rem; */
    }
    .menudesktop {
        display: none;
    }
}

@media (max-width: 689px) {
    .text-center.text-white-primary.flex.items-center.align-items {
        width: 3rem;
        margin-right: 11rem;

    }
    
}
@media (max-width: 69px) {
    .text-center.text-white-primary.flex.items-center.align-items {
        width: 3rem;
        margin-right: 0;

    }
    
}
@media (max-width: 690px) {
    .text-center.text-white-primary.flex.items-center.align-items {
        width: 3rem;
        margin-right: 0;

    }
    
}
 /* Image in form */
 .form_header_image {
    display: flex;
    align-items: center;
    width: 70%;
    height: 50%;
    justify-content: center;
    align-content: center;
 }

/* .form_header_image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */
/* Change color of the modal */
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    position: fixed;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	-webkit-tap-highlight-color: transparent;
	z-index: -1;
	background: #181818;
}