
.homesearch__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0 !important;
    z-index: 50;
    width: 100%;
    height: 5rem;
    background: #181818;
    z-index: 30;
}


/* HOME */
.homesearchbar__dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;

}

button.MuiButtonBase-root.css-10d1a0h-MuiButtonBase-root {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

/* SEARCH */
.homesearchbar__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.homesearchbar__search >  .MuiSvgIcon-root {
    font-size: 50px;
}

/* Add Content*/
.homesearchbar__add {
    display: flex;
    width: 80px;
    height: 80px;
    background: #181818;
    color: white;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: -2rem;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 2px 1px 15px -5px #000;
    cursor: pointer;
    transition: box-shadow ease-in-out 350ms;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.homesearchbar__add:hover {
    box-shadow: 2px 5px 25px -5px #000;
}

.homesearchbar__add .content {
    visibility: hidden;
    opacity: 0;
}

.bolinhas {
    bottom: -50%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 200ms;
}

.homesearchbar__add:hover .bolinhas,
.homesearchbar__add .bolinhas:hover {
    visibility: visible;
    opacity: 1;
}

.homesearchbar__add .bolinhas .ota-bolinha {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 100%;
    background-color: #181818;
    margin: 15px;
    transform: scale(0);
    transition-timing-function: ease-in-out;
    transition-duration: 180ms;
    transition-property: transform, visibility, opacity;
}

.homesearchbar__add:hover .bolinhas .ota-bolinha,
.homesearchbar__add .bolinhas:hover .ota-bolinha {
    transform: scale(1);
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.ota-bolinha.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.ota-x {
    display: flex;

}

/* END */

button.MuiButtonBase-root.MuiFab-root.MuiFab-circular.MuiFab-sizeLarge.MuiFab-primary.MuiSpeedDial-fab.css-1i5alow-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
    display: flex;
    width: 80px;
    height: 80px;
    margin-top: 2rem;
    background: #C4C4C4;
    color: black;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}


.css-1okazbh {
    height: 0 !important;
}

.css-x4oyac {
    height: 0!important;
}

.css-h0fz3e-MuiSpeedDial-root {
    z-index: 1050;
    display: -webkit-box;
    margin-top: -12rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: none;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}


/* 
.css-u1qjuz-MuiSpeedDial-actions {
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
} */


.speed-dial__action {
    display: flex;
    width: 80px;
    height: 80px;
    margin-top: 2rem;
    background: #C4C4C4;
    color: black;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}


/* notifications */
.homesearchbar__notifications{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.homesearchbar__notifications >  .MuiSvgIcon-root {
    font-size: 50px;
}

/* AVatar*/ 
.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.css-2s90m6-MuiAvatar-root, img.MuiAvatar-img.css-1pqm26d-MuiAvatar-img{
    width: 50px;
    height: 50px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    text-transform: capitalize;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    color:black;
}


.MuiAvatar-root.MuiAvatar-circular.css-1wlk0hk-MuiAvatar-root {
    width: 60px;
    height: 60px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}

@media (min-width: 700px) {
    .homesearch__card {
        display:none
    }
    .homesearchbar__dashboard {
        display:none
    }
  }

/* INPUT */
#icon-button-file {
    display:none
}

.btn-6 {
    margin: 5px;
    display: flex;
    background: transparent;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    align-content: center;
    width: 5%;
    justify-content: center;
    align-items: center;
  }
  
  .btn-6 

  .btn-6 span {
    transition: 1s;
  }
  
  
  .btn-6 div:before {
    color: azure;
      opacity: 0;
      transition: 1s;
      display: flex;
      justify-content: center;
  }
  
  .btn-6:hover {
    color: #fff;
  }

  .btn-6:hover span {
    opacity: 1;
  }
  
  .btn-6:hover div:before {
    opacity: 1;
    transition-delay: 0.3s;
  }
  
  textarea.MuiOutlinedInput-input.MuiInputBase-input.MuiInputBase-inputMultiline.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
    border: 1px solid rgba(255, 255, 255, 0.287);
    color: rgba(255, 255, 255, 0.794);
}

.flex.flex-col.w-96.h-64.p-5.my-60.justify-between.border.border-white-primary.object-center.rounded-lg.MuiBox-root.css-0,
.flex.flex-col.h-64.p-5.my-60.justify-between.border.border-white-primary.object-center.rounded-lg.MuiBox-root.css-0,
.flex.flex-col.h-64.p-5.my-60.justify-between.border.object-center.rounded-lg.MuiBox-root.css-0,
.flex.flex-col.w-96.h-64.p-5.my-auto.justify-between.object-center.rounded-lg.MuiBox-root.css-0 {
    height: 18rem;
    background: #626262;
    background: linear-gradient(360deg, rgba(24,24,24,0.9352051835853131) 0%, rgba(0,0,0,0.7429805615550755) 52%, rgba(25,25,25,0.8444924406047516) 99%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn__upload {
    color: #ffffff;
    display: flex;
    align-items: center;
    width: 5%;
    margin: 5px;
}


/* Modal */
.css-79ws1d-MuiModal-root {
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

/* form__searchbardown_container */
.flex.flex-col.w-96.h-64.p-5.my-60.justify-between.border.border-white-primary.object-center.rounded-lg.MuiBox-root.css-0, .flex.flex-col.h-64.p-5.my-60.justify-between.border.border-white-primary.object-center.rounded-lg.MuiBox-root.css-0, .flex.flex-col.h-64.p-5.my-60.justify-between.border.object-center.rounded-lg.MuiBox-root.css-0, .flex.flex-col.w-96.h-64.p-5.my-auto.justify-between.object-center.rounded-lg.MuiBox-root.css-0 {
    height: 100vh !important;
    width: 100vw !important;
    background: #181818;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form__searchbardown_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 3rem;
    position: fixed;
    padding: 20px;
    bottom: 1rem;
    margin-bottom: 0;
    border: 1px solid white;
    border-radius: 30px;
    background: #181818;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
button.cancel_searchbardown_modal.text-white-normal {
    top: 0;
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.form__searchbardown_modal_container {
    display: flex;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    height: 100%;
    margin-bottom: 2.3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searchbardown_modal_input {
    outline: none;
    background: transparent;
    width: 80%;
    color: white;
    display: flex;
    text-align: center;
}
.searchbardown__back_modal {
    width: 100%;
    height: 20px;
    display: flex;
}
.form_searchbardown_image {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}