
.signup_title {
    display: flex;
    color: #e3e3e3;
    font-size: 20px;
    justify-content: center;
    font-weight: 400;
    margin-bottom: .5rem;
    text-align: center;
    width: 100%
}

/* FORM */
.form__signup_email {
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.75rem;
    padding: 10px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    /* padding-left: 1rem; */
    padding-right: 1rem;
    background: transparent;
    border-bottom: 1px solid #9F9F9F;
    color: #9D9DAA;
    outline:none;
    font-style: italic;
}
.form__signup_password {
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.75rem;
    padding: 10px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    /* padding-left: 1rem; */
    padding-right: 1rem;
    background: transparent;
    border-bottom: 1px solid #9F9F9F;
    color: #9D9DAA;
    outline:none;
    font-style: italic;
}

.form__signup_terms {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.form__signup_terms  > .MuiSvgIcon-root{
    fill: #FFFFFF;
    font-size: 20px;
}

.form_signup_button {
    background: #776A49;
    margin-top: 1rem;
    width: 100%;
    height: 46px;
    color: #FFFFFF;
    font-weight: normal;
}

/* Terms & Conditions */

.signup_conditions_terms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left:5px;
    font-size: 15px;
    color: #cecece;
}


.form_login_account {
    margin-top: 10px;
    width: 100%;
    font-size: 0.75rem;
    color: #4E4E4E ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: initial;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form_create_account_signup {
    margin-left: 8px;
    color: #ffffff ;
}
/*ERROR*/
.error {
    color:red;
    text-align: center;
}